# 2013~2021년도 가뭄지수 종합

## 필요한 모듈 및 데이터 import

In [1]:
import pandas as pd
import os
import numpy as np
import datetime
from datetime import date, timedelta

In [2]:
path = '../data/가뭄/원본/'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')]
edi_concat = pd.DataFrame()

for i in file_list_py:
    data = pd.read_csv(path + i)
    edi_concat = pd.concat([edi_concat, data])
    
edi_concat = edi_concat.reset_index(drop = True)

### 지점명, 시군명 변경

In [3]:
#기상 관측 지점 데이터
ob_point = pd.read_csv('../data/지역/관측지점_원본_기상청.csv')
ob_point

,지점코드,종료시각,시작시각,(현)지점명,(현)주소,위도,경도,노장 해발고도(m),기압계,기온계,풍속계,강우계
0,90,~,1968.01.01 00:00:00,속초,강원도 고성군 토성면 봉포리,38.25085,128.56473,17.53,18.73,1.7,10.0,1.4
1,93,~,2016.10.01 00:01:00,북춘천,NaN,37.94738,127.75443,95.78,96.78,1.5,10.0,1.4
2,95,~,1988.01.01 00:00:00,철원,강원도 철원군 갈말읍 군탄리,38.14787,127.3042,155.48,156.98,1.8,13.0,1.5
3,98,~,1998.02.01 00:00:00,동두천,경기도 동두천시 생연동,37.90188,127.0607,115.62,116.74,1.7,10.0,1.0
4,99,~,2001.12.07 00:00:00,파주,경기도 파주시 문산읍 운천리,37.88589,126.76648,30.59,31.99,1.7,10.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
90,285,~,1973.01.01 00:00:00,합천,경상남도 합천군 합천읍 합천리,35.56505,128.16994,26.72,33.2,1.5,10.0,0.5
91,288,~,1973.01.01 00:00:00,밀양,경상남도 밀양시 내이동,35.49147,128.74413,8.31,12.5,2.0,10.0,1.3
92,289,~,1972.03.30 00:00:00,산청,경상남도 산청군 산청읍 지리,35.413,127.8791,138.22,138.8,1.6,10.0,0.6
93,294,~,1972.01.24 00:00:00,거제,경상남도 거제시 신현읍 장평리,34.88818,128.60458,44.83,46.7,1.7,10.0,0.6
94,295,~,1972.01.24 00:00:00,남해,경상남도 남해군 이동면 다정리,34.81662,127.92641,45.71,47.01,1.8,10.0,0.8

In [4]:
ob_point.drop(columns = ['종료시각', '시작시각', '노장 해발고도(m)','기압계', '기온계', '풍속계', '강우계', '위도', '경도'],
             inplace = True)
ob_point.rename(columns = {'(현)지점명':'지점명', '(현)주소':'주소'}, inplace = True)

In [5]:
ob_point.dropna(inplace = True)

In [6]:
ob_point.주소 = ob_point.주소.str.split(" ")
region = []
for item in ob_point['주소']:
    first = item[0]
    second = item[1]
    print(first)
    print(second)
    if "시" in second:
        region.append(second)
    elif "군" in second:
        region.append(second)
    elif "시" in first:
        region.append(first)
ob_point["주소"] = region

ob_point.drop(columns='지점명',inplace = True)
ob_point.지점코드 = ob_point.지점코드.astype(int)

# 특이하게 저장된 부분들 편집
ob_point.replace('포항시남구',"포항시", inplace=True)
ob_point.replace('전주시덕진구',"전주시", inplace=True)
ob_point.replace('청주시흥덕구',"청주시", inplace=True)
ob_point.replace('\xa0서울특별시', '서울특별시', inplace = True)
ob_point.replace('\xa0인천광역시', '인천광역시', inplace = True)
ob_point.replace('\xa0대전광역시', '대전광역시', inplace = True)
ob_point.replace('\xa0대구광역시', '대구광역시', inplace = True)
ob_point.replace('\xa0울산광역시', '울산광역시', inplace = True)
ob_point.replace('\xa0광주광역시', '광주광역시', inplace = True)
ob_point.replace('\xa0부산광역시', '부산광역시', inplace = True)

# edi 데이터에 주소 정보를 결합하기 위해 사전으로 변경
point_dict = ob_point.set_index('지점코드').T.to_dict('records')
point_dict = point_dict[0]

 강원도
고성군
 강원도
철원군
 경기도
동두천시
 경기도
파주시
 강원도
평창군
 강원도
춘천시
 인천광역시
옹진군
 강원도
강릉시
 강원도
강릉시
 강원도
동해시
 서울특별시
종로구
 인천광역시
중구
 강원도
원주시
 경상북도
울릉군
 경기도
수원시
 강원도
영월군
 충청북도
충주시
 충청남도
서산시
 경상북도
울진군
 충청북도
청주시흥덕구
 대전광역시
유성구
 충청북도
영동군
 경상북도
안동시
 경상북도
상주시
 경상북도
포항시남구
 전라북도
군산시
 대구광역시
동구
 전라북도
전주시덕진구
 울산광역시
중구
 경상남도
창원시
 광주광역시
북구
 부산광역시
중구
 경상남도
통영시
 전라남도
목포시
 전라남도
여수시
 전라남도
신안군
 전라남도
완도군
 전라북도
고창군
 전라남도
순천시
 제주특별자치도
제주시
 제주특별자치도
제주시
 제주특별자치도
서귀포시
 제주특별자치도
서귀포시
 경상남도
진주시
 인천광역시
강화군
 경기도
양평군
 경기도
이천시
 강원도
인제군
 강원도
홍천군
 강원도
태백시
 강원도
정선군
 충청북도
제천시
 충청북도
보은군
 충청남도
천안시
 충청남도
보령시
 충청남도
부여군
 충청남도
금산군
 전라북도
부안군
 전라북도
임실군
 전라북도
정읍시
 전라북도
남원시
 전라북도
장수군
 전라북도
고창군
 전라남도
영광군
 경상남도
김해시
 전라북도
순창군
 경상남도
창원시
 경상남도
양산시
 전라남도
보성군
 전라남도
강진군
 전라남도
장흥군
 전라남도
해남군
 전라남도
고흥군
 경상남도
의령군
 경상남도
함양군
 전라남도
광양시
 전라남도
진도군
 경상북도
봉화군
 경상북도
영주시
 경상북도
문경시
 경상북도
청송군
 경상북도
영덕군
 경상북도
의성군
 경상북도
구미시
 경상북도
영천시
 경상북도
경주시
 경상남도
거창군
 경상남도
합천군
 경상남도
밀양시
 경상남도
산청군
 경상남도
거제시
 경상남도
남해군

In [7]:
edi_concat['시군명'] = edi_concat.지점코드.apply(lambda x: point_dict[x])

In [8]:
edi_concat.head()

         발표일자  지점명  지점코드  spi1   spi3    pn1    edi  시군명
0  2013-01-01   속초    90  0.47  -0.46  119.0  -0.71  고성군
1  2013-01-01   철원    95     -      -  100.0      -  철원군
2  2013-01-01  대관령   100  1.00  -0.73  172.6  -1.08  평창군
3  2013-01-01   춘천   101  1.42   1.46  240.0   0.51  춘천시
4  2013-01-01   강릉   105  0.41  -1.45  104.8  -0.62  강릉시

In [9]:
edi_concat.rename(columns = {'spi1':'SPI1', 'spi3':'SPI3', 'edi':'EDI'}, inplace = True)
edi_concat = edi_concat[['발표일자', '지점명', '시군명', 'SPI1', 'SPI3', 'EDI']]
edi_concat

              발표일자  지점명  시군명  SPI1   SPI3    EDI
0       2013-01-01   속초  고성군  0.47  -0.46  -0.71
1       2013-01-01   철원  철원군     -      -      -
2       2013-01-01  대관령  평창군  1.00  -0.73  -1.08
3       2013-01-01   춘천  춘천시  1.42   1.46   0.51
4       2013-01-01   강릉  강릉시  0.41  -1.45  -0.62
...            ...  ...  ...   ...    ...    ...
183486  2020-12-31   합천  합천군 -0.51  -1.25   0.98
183487  2020-12-31   밀양  밀양시 -0.66  -0.29   0.45
183488  2020-12-31   산청  산청군  -0.7  -1.13   1.06
183489  2020-12-31   거제  거제시 -0.56  -0.86   1.06
183490  2020-12-31   남해  남해군 -0.23  -0.62   0.59

[183491 rows x 6 columns]

In [10]:
# 문자형 결측치 NaN으로 변형 후 자료형 변경
edi_concat.replace('-', np.nan, inplace = True)
edi_concat.SPI1 = edi_concat.SPI1.astype(float)
edi_concat.SPI3 = edi_concat.SPI3.astype(float)
edi_concat.EDI = edi_concat.EDI.astype(float)
edi_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183491 entries, 0 to 183490
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   발표일자    183491 non-null  object
 1   지점명     183491 non-null  object
 2   시군명     183491 non-null  object
 3   SPI1    179768 non-null  float64
 4   SPI3    179709 non-null  float64
 5   EDI     179352 non-null  float64
dtypes: float64(3), object(3)
memory usage: 8.4+ MB

In [11]:
#날짜 중에 불연속 지점 탐색 #해당 날짜 데이터 없음
start_date = edi_concat['발표일자'].unique()[0]
td = timedelta(days = 1)

for dt in edi_concat['발표일자'].unique()[1:]:
    if dt != date.isoformat(date.fromisoformat(start_date) + td) :
        print(date.fromisoformat(start_date) + td)
        #print(start_date, dt)
    start_date = dt

2017-09-30

In [12]:
edi_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183491 entries, 0 to 183490
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   발표일자    183491 non-null  object
 1   지점명     183491 non-null  object
 2   시군명     183491 non-null  object
 3   SPI1    179768 non-null  float64
 4   SPI3    179709 non-null  float64
 5   EDI     179352 non-null  float64
dtypes: float64(3), object(3)
memory usage: 8.4+ MB

## SPI 지수 비율을 이용한 EDI 습윤 단계 판단

In [13]:
# spi 라벨링 함수
def spi_label(row):
    if pd.isna(row):
        return '미판단'
    elif 1 <= row :
        return '습함'
    elif -1 < row < 1 :
        return '정상'
    elif -1.5 < row <= -1 :
        return '약한 가뭄'
    elif -2 < row <= -1.5 :
        return '보통 가뭄'
    else:
        return '심한 가뭄'

In [14]:
#spi_labeling 실행
edi_concat['SPI1_가뭄단계'] = edi_concat.SPI1.apply(lambda x: spi_label(x))
edi_concat['SPI3_가뭄단계'] = edi_concat.SPI3.apply(lambda x: spi_label(x))

In [15]:
spi_list = edi_concat['SPI1_가뭄단계'].value_counts()
spi_list

정상       119009
습함        29621
약한 가뭄     17213
보통 가뭄      8705
심한 가뭄      5220
미판단        3723
Name: SPI1_가뭄단계, dtype: int64

In [16]:
edi_moi = spi_list['습함']/(spi_list['정상'] + spi_list['습함'])
edi_moi

0.1992935477359887

In [17]:
edi_0 = edi_concat[edi_concat['EDI'] > -0.7] #EDI 정상단계 추출

In [18]:
edi_0['EDI'].quantile(1 - edi_moi) #습윤

1.0

## EDI 지수 단계 labeling 적용

In [19]:
# edi 라벨링 함수
def edi_label(row):
    if pd.isna(row):
        return '미판단'
    elif 1.0 <= row : #비율 적용
        return '습함'
    elif -0.7 < row < 1.00 :
        return '정상'
    elif -1.00 < row <= -0.7 :
        return '약한 가뭄'
    elif -1.5 < row <= -1.00 :
        return '보통 가뭄'
    elif -2 < row <= -1.50 :
        return '심한 가뭄'
    else :
        return '극심한 가뭄'

In [20]:
#edi_labeling 실행
edi_concat['EDI_가뭄단계'] = edi_concat.EDI.apply(lambda x: edi_label(x))
edi_concat

              발표일자  지점명  시군명  SPI1  SPI3   EDI SPI1_가뭄단계 SPI3_가뭄단계 EDI_가뭄단계
0       2013-01-01   속초  고성군  0.47 -0.46 -0.71        정상        정상    약한 가뭄
1       2013-01-01   철원  철원군   NaN   NaN   NaN       미판단       미판단      미판단
2       2013-01-01  대관령  평창군  1.00 -0.73 -1.08        습함        정상    보통 가뭄
3       2013-01-01   춘천  춘천시  1.42  1.46  0.51        습함        습함       정상
4       2013-01-01   강릉  강릉시  0.41 -1.45 -0.62        정상     약한 가뭄       정상
...            ...  ...  ...   ...   ...   ...       ...       ...      ...
183486  2020-12-31   합천  합천군 -0.51 -1.25  0.98        정상     약한 가뭄       정상
183487  2020-12-31   밀양  밀양시 -0.66 -0.29  0.45        정상        정상       정상
183488  2020-12-31   산청  산청군 -0.70 -1.13  1.06        정상     약한 가뭄       습함
183489  2020-12-31   거제  거제시 -0.56 -0.86  1.06        정상        정상       습함
183490  2020-12-31   남해  남해군 -0.23 -0.62  0.59        정상        정상       정상

[183491 rows x 9 columns]

In [21]:
# ## For Debug.
# ## 일자 연속성 확인
# for dt in edi_concat['발표일자'].unique()[1:]:
#     if dt != date.isoformat(date.fromisoformat(start_date) + td) :
#         print(date.fromisoformat(start_date) + td)
#         print(start_date, dt)
#     start_date = dt

In [22]:
edi_concat = edi_concat[['발표일자', '지점명', '시군명', 'SPI1', 'SPI1_가뭄단계', 'SPI3', 'SPI3_가뭄단계', 'EDI', 'EDI_가뭄단계']]

### 데이터셋 파일 저장

In [23]:
edi_concat.to_csv('../data/가뭄/2013_2020_가뭄지수데이터.csv', encoding = 'utf-8-sig')