# 면세유가 및 일반유가 전처리

### import

In [31]:
import os
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings(action='ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

### 데이터셋 input

In [32]:
일반유가 = pd.read_csv('../data/유가/원본/13_21_주유소_지역별_평균판매가격.csv', encoding = 'CP949')
일반유가

,구분,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2013년01월01일,1843.74,1754.82,1738.06,1745.54,1728.65,1752.40,1749.79,1755.94,1762.79,1751.19,1763.88,1745.21,1742.89,1743.22,1743.40,1755.72,1755.01
1,2013년01월02일,1843.12,1754.63,1737.17,1746.13,1727.92,1752.68,1749.10,1755.49,1762.30,1750.57,1763.05,1744.60,1742.85,1743.28,1743.36,1755.88,1755.01
2,2013년01월03일,1842.37,1754.92,1736.47,1746.27,1727.02,1752.20,1747.80,1755.32,1761.86,1750.93,1762.56,1744.18,1741.97,1742.71,1742.54,1755.46,1755.76
3,2013년01월04일,1841.72,1754.18,1736.93,1746.25,1726.85,1750.82,1746.92,1755.01,1761.39,1750.48,1762.05,1744.25,1741.97,1742.35,1742.23,1771.07,1754.58
4,2013년01월05일,1842.60,1752.72,1736.55,1747.59,1726.65,1750.03,1746.63,1754.59,1761.10,1750.22,1761.49,1743.30,1741.93,1742.30,1742.07,1771.08,1753.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2021년12월27일,1525.70,1422.24,1417.41,1432.77,1449.98,1428.54,1432.07,1447.12,1476.27,1451.22,1448.68,1430.94,1463.00,1431.55,1435.32,1454.88,1445.49
3283,2021년12월28일,1524.42,1421.57,1416.07,1431.92,1448.94,1427.85,1430.01,1445.61,1474.76,1449.86,1447.88,1429.93,1461.99,1430.05,1434.03,1454.63,1444.30
3284,2021년12월29일,1523.64,1420.98,1415.36,1430.75,1448.38,1428.19,1429.95,1444.42,1473.77,1448.39,1447.10,1428.95,1460.46,1429.01,1433.04,1454.74,1443.66
3285,2021년12월30일,1523.43,1420.62,1415.16,1431.06,1447.46,1427.15,1430.23,1443.58,1472.73,1447.97,1446.00,1428.32,1459.33,1428.35,1432.37,1454.58,1443.28
3286,2021년12월31일,1523.15,1419.77,1414.70,1430.66,1447.13,1427.42,1429.70,1443.04,1472.37,1447.25,1445.99,1427.82,1458.57,1427.76,1432.29,1454.48,1443.58

In [33]:
일반유가.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3287 entries, 0 to 3286
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      3287 non-null   object
 1   서울      3287 non-null   float64
 2   부산      3287 non-null   float64
 3   대구      3287 non-null   float64
 4   인천      3287 non-null   float64
 5   광주      3287 non-null   float64
 6   대전      3287 non-null   float64
 7   울산      3287 non-null   float64
 8   경기      3287 non-null   float64
 9   강원      3287 non-null   float64
 10  충북      3287 non-null   float64
 11  충남      3287 non-null   float64
 12  전북      3287 non-null   float64
 13  전남      3287 non-null   float64
 14  경북      3287 non-null   float64
 15  경남      3287 non-null   float64
 16  제주      3287 non-null   float64
 17  세종      3287 non-null   float64
dtypes: float64(17), object(1)
memory usage: 462.4+ KB

In [34]:
실제면세유가 = pd.read_csv('../data/유가/원본/15_21_주유소_지역별_면세유평균판매가격.csv', encoding = 'CP949')
실제면세유가

,구분,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2015년11월16일,920.00,718.33,724.08,708.57,711.25,697.50,830.00,721.08,683.27,729.69,692.05,703.76,672.04,659.25,703.98,674.42,758.75
1,2015년11월17일,920.00,718.33,724.08,708.57,711.25,697.50,830.00,721.08,683.27,729.69,692.05,703.76,672.04,659.25,703.98,674.42,758.75
2,2015년11월18일,920.00,712.85,724.08,704.28,698.75,697.50,839.09,722.61,684.30,729.77,692.52,702.11,674.16,658.65,706.43,672.17,758.75
3,2015년11월19일,920.00,712.85,724.08,696.42,711.25,697.50,839.09,720.40,682.55,731.54,693.41,701.35,670.18,658.05,703.09,678.61,758.75
4,2015년11월20일,920.00,712.85,724.08,698.14,705.00,697.50,830.00,717.95,680.89,728.43,689.56,699.37,670.83,656.49,703.84,676.31,752.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2233,2021년12월27일,956.33,956.04,980.01,974.57,988.23,996.55,1022.81,1005.82,983.93,1009.83,986.58,976.66,969.35,968.69,978.32,937.65,978.86
2234,2021년12월28일,956.33,957.68,980.01,974.07,985.52,996.55,1024.08,1004.85,983.29,1008.31,985.71,976.58,969.45,967.39,978.28,937.62,978.86
2235,2021년12월29일,956.33,962.22,976.54,971.95,990.04,996.55,1025.12,1002.83,981.32,1011.88,984.12,975.92,968.16,966.70,976.68,936.20,978.86
2236,2021년12월30일,959.50,961.28,976.54,969.70,990.95,994.85,1024.08,1002.85,980.71,1010.94,983.84,974.91,967.38,965.56,976.73,937.39,978.86
2237,2021년12월31일,959.50,961.14,975.60,969.39,984.13,994.85,1025.60,1002.93,981.52,1010.37,980.80,976.03,967.23,965.53,976.16,935.35,978.26

### 면세유가 및 일반유가 전처리

In [35]:
## 널값 interpolate 선형으로 보간

실제면세유가 = 실제면세유가.interpolate(method='values')

In [36]:
## 일반유가로 면세유 가격 산정방식

def helper(x):
    return x - (x/11 + 528.75) 

계산면세유가 = 일반유가[일반유가.columns[1:]].apply(lambda x : helper(x))
계산면세유가

,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,1147.377273,1066.540909,1051.304545,1058.104545,1042.750000,1064.340909,1061.968182,1067.559091,1073.786364,1063.240909,1074.777273,1057.804545,1055.695455,1055.995455,1056.159091,1067.359091,1066.713636
1,1146.813636,1066.368182,1050.495455,1058.640909,1042.086364,1064.595455,1061.340909,1067.150000,1073.340909,1062.677273,1074.022727,1057.250000,1055.659091,1056.050000,1056.122727,1067.504545,1066.713636
2,1146.131818,1066.631818,1049.859091,1058.768182,1041.268182,1064.159091,1060.159091,1066.995455,1072.940909,1063.004545,1073.577273,1056.868182,1054.859091,1055.531818,1055.377273,1067.122727,1067.395455
3,1145.540909,1065.959091,1050.277273,1058.750000,1041.113636,1062.904545,1059.359091,1066.713636,1072.513636,1062.595455,1073.113636,1056.931818,1054.859091,1055.204545,1055.095455,1081.313636,1066.322727
4,1146.340909,1064.631818,1049.931818,1059.968182,1040.931818,1062.186364,1059.095455,1066.331818,1072.250000,1062.359091,1072.604545,1056.068182,1054.822727,1055.159091,1054.950000,1081.322727,1065.677273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,858.250000,764.195455,759.804545,773.768182,789.413636,769.922727,773.131818,786.813636,813.313636,790.540909,788.231818,772.104545,801.250000,772.659091,776.086364,793.868182,785.331818
3283,857.086364,763.586364,758.586364,772.995455,788.468182,769.295455,771.259091,785.440909,811.940909,789.304545,787.504545,771.186364,800.331818,771.295455,774.913636,793.640909,784.250000
3284,856.377273,763.050000,757.940909,771.931818,787.959091,769.604545,771.204545,784.359091,811.040909,787.968182,786.795455,770.295455,798.940909,770.350000,774.013636,793.740909,783.668182
3285,856.186364,762.722727,757.759091,772.213636,787.122727,768.659091,771.459091,783.595455,810.095455,787.586364,785.795455,769.722727,797.913636,769.750000,773.404545,793.595455,783.322727
3286,855.931818,761.950000,757.340909,771.850000,786.822727,768.904545,770.977273,783.104545,809.768182,786.931818,785.786364,769.268182,797.222727,769.213636,773.331818,793.504545,783.595455

In [37]:
## 계산한 면세유가와 실제면세유가 간 오차계산

오차 = 실제면세유가.drop('구분', axis = 1) - 계산면세유가.iloc[1049:].reset_index(drop = True)
오차

,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,233.259091,137.625455,148.484545,119.438182,132.545455,110.022727,245.077273,125.084545,74.138182,137.149091,94.027273,123.564545,78.926364,82.009091,122.366364,48.342727,162.381818
1,234.968182,137.598182,149.811818,120.947273,132.645455,110.077273,246.304545,125.602727,74.474545,137.749091,94.481818,124.410000,79.290000,82.518182,123.175455,50.024545,163.572727
2,235.022727,132.700000,149.666364,117.866364,122.009091,111.331818,255.830909,127.969091,76.431818,138.720000,95.388182,124.178182,82.482727,82.727273,126.343636,36.992727,162.909091
3,236.186364,132.754545,151.157273,110.779091,134.545455,111.704545,257.540000,126.586364,75.309091,141.199091,97.087273,123.290909,79.330000,82.527273,123.540000,43.241818,163.636364
4,236.522727,133.490909,151.302727,111.944545,129.531818,112.413636,248.995455,124.236364,74.167273,138.552727,93.755455,122.410909,80.134545,81.858182,125.199091,49.750909,155.986364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2233,98.080000,191.844545,220.205455,200.801818,198.816364,226.627273,249.678182,219.006364,170.616364,219.289091,198.348182,204.555455,168.100000,196.030909,202.233636,143.781818,193.528182
2234,99.243636,194.093636,221.423636,201.074545,197.051818,227.254545,252.820909,219.409091,171.349091,219.005455,198.205455,205.393636,169.118182,196.094545,203.366364,143.979091,194.610000
2235,99.952727,199.170000,218.599091,200.018182,202.080909,226.945455,253.915455,218.470909,170.279091,223.911818,197.324545,205.624545,169.219091,196.350000,202.666364,142.459091,195.191818
2236,103.313636,198.557273,218.780909,197.486364,203.827273,226.190909,252.620909,219.254545,170.614545,223.353636,198.044545,205.187273,169.466364,195.810000,203.325455,143.794545,195.537273
2237,103.568182,199.190000,218.259091,197.540000,197.307273,225.945455,254.622727,219.825455,171.751818,223.438182,195.013636,206.761818,170.007273,196.316364,202.828182,141.845455,194.664545

In [38]:
## 지역별 평균 오차(지역별 주요소 전체기간 평균 마진 금액) 산정

평균오차 = 오차.describe().loc['mean']
평균오차

서울    101.256383
부산    141.711730
대구    127.063911
인천    115.091932
광주    110.064695
대전    152.333151
울산    208.247451
경기    137.562528
강원     83.519253
충북    128.967668
충남     87.620090
전북    102.825229
전남     76.061515
경북     93.692613
경남    108.639143
제주     35.254242
세종    101.975833
Name: mean, dtype: float64

In [39]:
## 계산면세유가에 평균주요소 마진 합산하여 면세가격 채울 부분 산정

for idx in 계산면세유가.index :
    계산면세유가.iloc[idx] += 평균오차

In [40]:
## 최종 게산면세유가

계산면세유가

,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,1248.633656,1208.252639,1178.368457,1173.196477,1152.814695,1216.674060,1270.215632,1205.121619,1157.305617,1192.208577,1162.397362,1160.629775,1131.756969,1149.688067,1164.798234,1102.613333,1168.689469
1,1248.070019,1208.079912,1177.559366,1173.732841,1152.151059,1216.928605,1269.588360,1204.712528,1156.860162,1191.644941,1161.642817,1160.075229,1131.720605,1149.742613,1164.761870,1102.758787,1168.689469
2,1247.388201,1208.343548,1176.923002,1173.860113,1151.332877,1216.492241,1268.406542,1204.557983,1156.460162,1191.972214,1161.197362,1159.693411,1130.920605,1149.224431,1164.016416,1102.376969,1169.371288
3,1246.797292,1207.670821,1177.341184,1173.841932,1151.178332,1215.237696,1267.606542,1204.276165,1156.032890,1191.563123,1160.733726,1159.757047,1130.920605,1148.897158,1163.734597,1116.567878,1168.298560
4,1247.597292,1206.343548,1176.995730,1175.060113,1150.996513,1214.519514,1267.342905,1203.894347,1155.769253,1191.326759,1160.224635,1158.893411,1130.884242,1148.851704,1163.589143,1116.576969,1167.653106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,959.506383,905.907185,886.868457,888.860113,899.478332,922.255878,981.379269,924.376165,896.832890,919.508577,875.851908,874.929775,877.311515,866.351704,884.725507,829.122424,887.307651
3283,958.342747,905.298094,885.650275,888.087386,898.532877,921.628605,979.506542,923.003438,895.460162,918.272214,875.124635,874.011593,876.393333,864.988067,883.552779,828.895151,886.225833
3284,957.633656,904.761730,885.004820,887.023750,898.023786,921.937696,979.451996,921.921619,894.560162,916.935850,874.415544,873.120684,875.002424,864.042613,882.652779,828.995151,885.644015
3285,957.442747,904.434458,884.823002,887.305568,897.187422,920.992241,979.706542,921.157983,893.614708,916.554032,873.415544,872.547957,873.975151,863.442613,882.043688,828.849697,885.298560
3286,957.188201,903.661730,884.404820,886.941932,896.887422,921.237696,979.224723,920.667074,893.287435,915.899487,873.406453,872.093411,873.284242,862.906249,881.970961,828.758787,885.571288

In [41]:
## 날짜 삽입

계산면세유가['구분'] = 일반유가['구분']
계산면세유가

,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종,구분
0,1248.633656,1208.252639,1178.368457,1173.196477,1152.814695,1216.674060,1270.215632,1205.121619,1157.305617,1192.208577,1162.397362,1160.629775,1131.756969,1149.688067,1164.798234,1102.613333,1168.689469,2013년01월01일
1,1248.070019,1208.079912,1177.559366,1173.732841,1152.151059,1216.928605,1269.588360,1204.712528,1156.860162,1191.644941,1161.642817,1160.075229,1131.720605,1149.742613,1164.761870,1102.758787,1168.689469,2013년01월02일
2,1247.388201,1208.343548,1176.923002,1173.860113,1151.332877,1216.492241,1268.406542,1204.557983,1156.460162,1191.972214,1161.197362,1159.693411,1130.920605,1149.224431,1164.016416,1102.376969,1169.371288,2013년01월03일
3,1246.797292,1207.670821,1177.341184,1173.841932,1151.178332,1215.237696,1267.606542,1204.276165,1156.032890,1191.563123,1160.733726,1159.757047,1130.920605,1148.897158,1163.734597,1116.567878,1168.298560,2013년01월04일
4,1247.597292,1206.343548,1176.995730,1175.060113,1150.996513,1214.519514,1267.342905,1203.894347,1155.769253,1191.326759,1160.224635,1158.893411,1130.884242,1148.851704,1163.589143,1116.576969,1167.653106,2013년01월05일
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,959.506383,905.907185,886.868457,888.860113,899.478332,922.255878,981.379269,924.376165,896.832890,919.508577,875.851908,874.929775,877.311515,866.351704,884.725507,829.122424,887.307651,2021년12월27일
3283,958.342747,905.298094,885.650275,888.087386,898.532877,921.628605,979.506542,923.003438,895.460162,918.272214,875.124635,874.011593,876.393333,864.988067,883.552779,828.895151,886.225833,2021년12월28일
3284,957.633656,904.761730,885.004820,887.023750,898.023786,921.937696,979.451996,921.921619,894.560162,916.935850,874.415544,873.120684,875.002424,864.042613,882.652779,828.995151,885.644015,2021년12월29일
3285,957.442747,904.434458,884.823002,887.305568,897.187422,920.992241,979.706542,921.157983,893.614708,916.554032,873.415544,872.547957,873.975151,863.442613,882.043688,828.849697,885.298560,2021년12월30일
3286,957.188201,903.661730,884.404820,886.941932,896.887422,921.237696,979.224723,920.667074,893.287435,915.899487,873.406453,872.093411,873.284242,862.906249,881.970961,828.758787,885.571288,2021년12월31일

In [42]:
## 실제면세유 가격에 필요한 기간(2013~2015) 합산

최종면세유가 = pd.concat([계산면세유가[:1049],실제면세유가]).reset_index(drop = True)
최종면세유가

,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종,구분
0,1248.633656,1208.252639,1178.368457,1173.196477,1152.814695,1216.674060,1270.215632,1205.121619,1157.305617,1192.208577,1162.397362,1160.629775,1131.756969,1149.688067,1164.798234,1102.613333,1168.689469,2013년01월01일
1,1248.070019,1208.079912,1177.559366,1173.732841,1152.151059,1216.928605,1269.588360,1204.712528,1156.860162,1191.644941,1161.642817,1160.075229,1131.720605,1149.742613,1164.761870,1102.758787,1168.689469,2013년01월02일
2,1247.388201,1208.343548,1176.923002,1173.860113,1151.332877,1216.492241,1268.406542,1204.557983,1156.460162,1191.972214,1161.197362,1159.693411,1130.920605,1149.224431,1164.016416,1102.376969,1169.371288,2013년01월03일
3,1246.797292,1207.670821,1177.341184,1173.841932,1151.178332,1215.237696,1267.606542,1204.276165,1156.032890,1191.563123,1160.733726,1159.757047,1130.920605,1148.897158,1163.734597,1116.567878,1168.298560,2013년01월04일
4,1247.597292,1206.343548,1176.995730,1175.060113,1150.996513,1214.519514,1267.342905,1203.894347,1155.769253,1191.326759,1160.224635,1158.893411,1130.884242,1148.851704,1163.589143,1116.576969,1167.653106,2013년01월05일
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,956.330000,956.040000,980.010000,974.570000,988.230000,996.550000,1022.810000,1005.820000,983.930000,1009.830000,986.580000,976.660000,969.350000,968.690000,978.320000,937.650000,978.860000,2021년12월27일
3283,956.330000,957.680000,980.010000,974.070000,985.520000,996.550000,1024.080000,1004.850000,983.290000,1008.310000,985.710000,976.580000,969.450000,967.390000,978.280000,937.620000,978.860000,2021년12월28일
3284,956.330000,962.220000,976.540000,971.950000,990.040000,996.550000,1025.120000,1002.830000,981.320000,1011.880000,984.120000,975.920000,968.160000,966.700000,976.680000,936.200000,978.860000,2021년12월29일
3285,959.500000,961.280000,976.540000,969.700000,990.950000,994.850000,1024.080000,1002.850000,980.710000,1010.940000,983.840000,974.910000,967.380000,965.560000,976.730000,937.390000,978.860000,2021년12월30일
3286,959.500000,961.140000,975.600000,969.390000,984.130000,994.850000,1025.600000,1002.930000,981.520000,1010.370000,980.800000,976.030000,967.230000,965.530000,976.160000,935.350000,978.260000,2021년12월31일

In [43]:
## 컬럼 정리

최종면세유가 = 최종면세유가[['구분','서울', '부산', '대구', '인천', '광주', '대전', '울산', '경기', '강원', '충북', '충남', '전북','전남', '경북', '경남', '제주', '세종']]
최종면세유가

,구분,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2013년01월01일,1248.633656,1208.252639,1178.368457,1173.196477,1152.814695,1216.674060,1270.215632,1205.121619,1157.305617,1192.208577,1162.397362,1160.629775,1131.756969,1149.688067,1164.798234,1102.613333,1168.689469
1,2013년01월02일,1248.070019,1208.079912,1177.559366,1173.732841,1152.151059,1216.928605,1269.588360,1204.712528,1156.860162,1191.644941,1161.642817,1160.075229,1131.720605,1149.742613,1164.761870,1102.758787,1168.689469
2,2013년01월03일,1247.388201,1208.343548,1176.923002,1173.860113,1151.332877,1216.492241,1268.406542,1204.557983,1156.460162,1191.972214,1161.197362,1159.693411,1130.920605,1149.224431,1164.016416,1102.376969,1169.371288
3,2013년01월04일,1246.797292,1207.670821,1177.341184,1173.841932,1151.178332,1215.237696,1267.606542,1204.276165,1156.032890,1191.563123,1160.733726,1159.757047,1130.920605,1148.897158,1163.734597,1116.567878,1168.298560
4,2013년01월05일,1247.597292,1206.343548,1176.995730,1175.060113,1150.996513,1214.519514,1267.342905,1203.894347,1155.769253,1191.326759,1160.224635,1158.893411,1130.884242,1148.851704,1163.589143,1116.576969,1167.653106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2021년12월27일,956.330000,956.040000,980.010000,974.570000,988.230000,996.550000,1022.810000,1005.820000,983.930000,1009.830000,986.580000,976.660000,969.350000,968.690000,978.320000,937.650000,978.860000
3283,2021년12월28일,956.330000,957.680000,980.010000,974.070000,985.520000,996.550000,1024.080000,1004.850000,983.290000,1008.310000,985.710000,976.580000,969.450000,967.390000,978.280000,937.620000,978.860000
3284,2021년12월29일,956.330000,962.220000,976.540000,971.950000,990.040000,996.550000,1025.120000,1002.830000,981.320000,1011.880000,984.120000,975.920000,968.160000,966.700000,976.680000,936.200000,978.860000
3285,2021년12월30일,959.500000,961.280000,976.540000,969.700000,990.950000,994.850000,1024.080000,1002.850000,980.710000,1010.940000,983.840000,974.910000,967.380000,965.560000,976.730000,937.390000,978.860000
3286,2021년12월31일,959.500000,961.140000,975.600000,969.390000,984.130000,994.850000,1025.600000,1002.930000,981.520000,1010.370000,980.800000,976.030000,967.230000,965.530000,976.160000,935.350000,978.260000

In [44]:
## 날짜 형식 변경

최종면세유가['구분'] = pd.to_datetime(최종면세유가['구분'], format='%Y년%m월%d일')
최종면세유가

,구분,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종
0,2013-01-01,1248.633656,1208.252639,1178.368457,1173.196477,1152.814695,1216.674060,1270.215632,1205.121619,1157.305617,1192.208577,1162.397362,1160.629775,1131.756969,1149.688067,1164.798234,1102.613333,1168.689469
1,2013-01-02,1248.070019,1208.079912,1177.559366,1173.732841,1152.151059,1216.928605,1269.588360,1204.712528,1156.860162,1191.644941,1161.642817,1160.075229,1131.720605,1149.742613,1164.761870,1102.758787,1168.689469
2,2013-01-03,1247.388201,1208.343548,1176.923002,1173.860113,1151.332877,1216.492241,1268.406542,1204.557983,1156.460162,1191.972214,1161.197362,1159.693411,1130.920605,1149.224431,1164.016416,1102.376969,1169.371288
3,2013-01-04,1246.797292,1207.670821,1177.341184,1173.841932,1151.178332,1215.237696,1267.606542,1204.276165,1156.032890,1191.563123,1160.733726,1159.757047,1130.920605,1148.897158,1163.734597,1116.567878,1168.298560
4,2013-01-05,1247.597292,1206.343548,1176.995730,1175.060113,1150.996513,1214.519514,1267.342905,1203.894347,1155.769253,1191.326759,1160.224635,1158.893411,1130.884242,1148.851704,1163.589143,1116.576969,1167.653106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,2021-12-27,956.330000,956.040000,980.010000,974.570000,988.230000,996.550000,1022.810000,1005.820000,983.930000,1009.830000,986.580000,976.660000,969.350000,968.690000,978.320000,937.650000,978.860000
3283,2021-12-28,956.330000,957.680000,980.010000,974.070000,985.520000,996.550000,1024.080000,1004.850000,983.290000,1008.310000,985.710000,976.580000,969.450000,967.390000,978.280000,937.620000,978.860000
3284,2021-12-29,956.330000,962.220000,976.540000,971.950000,990.040000,996.550000,1025.120000,1002.830000,981.320000,1011.880000,984.120000,975.920000,968.160000,966.700000,976.680000,936.200000,978.860000
3285,2021-12-30,959.500000,961.280000,976.540000,969.700000,990.950000,994.850000,1024.080000,1002.850000,980.710000,1010.940000,983.840000,974.910000,967.380000,965.560000,976.730000,937.390000,978.860000
3286,2021-12-31,959.500000,961.140000,975.600000,969.390000,984.130000,994.850000,1025.600000,1002.930000,981.520000,1010.370000,980.800000,976.030000,967.230000,965.530000,976.160000,935.350000,978.260000

### 데이터셋 파일 저장

In [45]:
최종면세유가.rename(columns = {'구분':'날짜'}, inplace = True)
최종면세유가.to_csv(path_or_buf='../data/유가/13_21_면세유가.csv', encoding= 'utf-8-sig')